* {
  margin: 0;
}

.contentcontainer {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.1fr 0.6fr 0.1fr;
}

.headercontainer {
  font-size: 150px;
  margin: 0;
  text-align: left;
  bottom: 0%;
}

.infocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #181a22;
}

.contain {
  margin-top: -15%;
}

.portfoliocontainer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.portfolioitemcontainer {
  position: relative;
}

.portfolioimgbackground {
  height: 310px;
  width: 100%;
  filter: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  transition: filter 1s;
}

.imgtextcontainer {
  height: 310px;
  width: 100%;
  top: 0;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.subtitlecontainer {
  font-size: larger;
  transition: 0.7s;
  color: transparent;
}

.imgtextcontainer:hover .subtitlecontainer {
  transition: 0.7s;
  color: whitesmoke;
}

.subtitlecontainer a {
  transition: 0.7s;
  color: transparent;
}

.imgtextcontainer:hover .subtitlecontainer a {
  transition: 0.7s;
  color: whitesmoke;
}

.imgdarken {
  transition: 1s;
  filter: brightness(30%);
}
